.formButton {
  /* display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid #d5d5d5;
  background-image: linear-gradient(#eee, #ddd); */
}

.button--state-loading {
}

.button--state-success {
}

.button--state-error {
}
