.App {
  text-align: center;
  display: flex;
  padding: 2rem;
}

. {
}

.tree {
}

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid red;
  background-image: linear-gradient(#eee, #ddd);
}

.button--state-loading {
}

.button--state-success {
}

.button--state-error {
}
